conversion_scripts/3RIMG_04SEP2024_1015_L1B_STD_V01R00.h5
conversion_scripts/region_outputs/IMG_MIR_region_cog.tif
conversion_scripts/region_outputs/IMG_SWIR_region_cog.tif
conversion_scripts/region_outputs/IMG_TIR1_region_cog.tif
conversion_scripts/region_outputs/IMG_TIR2_region_cog.tif
conversion_scripts/region_outputs/IMG_VIS_region_cog.tif
conversion_scripts/region_outputs/IMG_WV_region_cog.tif
